<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semin.app.board.notice.NoticeMapper">

	<sql id="search_sql">
		where
		<choose>
			<when test="kind == 'v2'">"BOARD_CONTENTS"</when>
			<when test="kind == 'v3'">"BOARD_WRITER"</when>
			<otherwise>"BOARD_TITLE"</otherwise>
		</choose>
		like concat('%', #{search}, '%')
	</sql>

	<select id="getCount" resultType="Long" parameterType="Pager">
		select count("BOARD_NUM") from "TB_NOTICE"
		<include refid="search_sql"></include>
	</select>

	<select id="list" resultType="NoticeDTO" parameterType="Pager">
		select * from "TB_NOTICE"
		<include refid="search_sql"></include>
		order by "BOARD_NUM" DESC
		limit #{perPage} offset #{startNum}
	</select>

	<insert id="create" parameterType="NoticeDTO" useGeneratedKeys="true" keyProperty="boardNum">
		insert into "TB_NOTICE"
		values(DEFAULT, #{boardTitle}, #{boardWriter}, #{boardContents}, NOW(), 0)
	</insert>

	<insert id="createFile" parameterType="NoticeFileDTO">
		insert into "TB_NOTICEFILE"
		values(DEFAULT, #{fileName}, #{oriName}, #{boardNum})
	</insert>

	<select id="detail" parameterType="NoticeDTO" resultMap="detailResult">
		select * from "TB_NOTICE" n
		left join "TB_NOTICEFILE" f
		using("BOARD_NUM")
		where "BOARD_NUM" = #{boardNum}
	</select>

	<resultMap type="NoticeDTO" id="detailResult">
		<id column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_CONTENTS" property="boardContents"/>
		<result column="BOARD_DATE" property="boardDate"/>
		<result column="BOARD_HITS" property="boardHits"/>
		<collection property="list" javaType="java.util.List" ofType="FileDTO">
			<id column="FILE_NUM" property="fileNum"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<update id="update" parameterType="NoticeDTO">
		update "TB_NOTICE"
		set 
			"BOARD_TITLE" = #{boardTitle},
			"BOARD_CONTENTS" = #{boardContents}
		where "BOARD_NUM" = #{boardNum}
	</update>
	
	<delete id="delete" parameterType="NoticeDTO">
		delete from "TB_NOTICE"
		where "BOARD_NUM" = #{boardNum}
	</delete>

</mapper>