<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semin.app.account.AccountMapper">
	<insert id="create" parameterType="accountDTO">
		insert into "TB_ACCOUNT"
		values(#{accountNum}, #{username}, #{productNo}, #{accountPw}, 0, now())
	</insert>
</mapper>